<h1>Employee Information</h1>
<div id="employee-<%= @employee.id %>">
  <h2><%= @employee.name %></h2>
  <p>Department: <%= @employee.department.name %></p>
  <p>Tickets: <%= @employee.sort_tickets_asc.each do |ticket| %></p>
    <%= ticket.subject %>
  <% end %></p>
</div>

<div id="ticket-<%= @employee.id %>">
<h3>Oldest Ticket: <%=@employee.find_oldest_ticket %></h3>
</div>